<h2 class="text-center">XRP Donations Component Examples:</h2>

<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-title">Show all info</div>
      <bja-xrp-donations account="rDKQPqcVf2tmk7uLyZBxT6kRxRTei5idvG"></bja-xrp-donations>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="card-title">Show all info</div>
      <bja-xrp-donations [config]="noBalanceConfig" account="rDKQPqcVf2tmk7uLyZBxT6kRxRTei5idvG"></bja-xrp-donations>    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="card-title">Show all info</div>
      <bja-xrp-donations [config]="noQRConfig" account="rDKQPqcVf2tmk7uLyZBxT6kRxRTei5idvG"></bja-xrp-donations>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="card-title">Show all info</div>
      <bja-xrp-donations account="rDKQPqcVf2tmk7uLyZBxT6kRxRTei5idvG"></bja-xrp-donations>
    </div>
  </div>

</div>
